/* Este es un
   comentario CSS de varias
   lineas */

   .postcard {
    width: 380px;
    height: 295px;
    margin: auto;
    padding: 10px 20px;
    background: #fff;
    border-radius: 3px;
  }
  
  
  div:after {
    content: '';
    margin:auto;
    display: inline-block;
    position: relative;
    left: -30px;
    top: -190px;
    background: repeating-linear-gradient(45deg, #114abc, #114abc 10px, #fff 10px, #fff 20px, #bf2010 20px, #bf2010 30px, #fff 30px, #fff 40px);
    padding: 20px;
    border-radius: 6px;
    box-shadow: 1px 2px 6px 1px rgba(76, 66, 47, 0.75);
    width: 400px;
    height: 300px;
    z-index: -1;
  }
  
  body {
    background: gray;
  }
  
