*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: blue;
  background-position: center;
  font-family: 'Indie Flower', cursive;
}

fieldset{

  background-color: red;
  width: "100%";
  height: 60px;
}

form{
  background:#333333;
  width: 360px;
  border: 1px solid;
  border-radius: 3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  box-shadow: inset 0 0 10 px #000;
  margin: 100px auto;
}

h1{
  text-align: center;
  color: white;
  font-weight: regular;
  font-size: 40pt;
  margin: 30px;
}

form input{
  width: 280px;
  height: 35px;
  padding: 0px;
  margin: 10px 30px;
  text-align: center;

}

form button{
 width: 135px;
 margin-left: 100px;
 height: 50px;
  align-content: center;
}